---
import ThemeWrapper from "../layouts/ThemeWrapper.astro";
import Popover from "./Popover";
import Title from "./Title";
import { Image } from "astro:assets";
---

<ThemeWrapper>
  <section class="pt-10 md:pt-20 z-20">
    <img
      src="https://res.cloudinary.com/bridalmarket/image/upload/c_scale,w_281/v1762945476/Frontend%20Applicaiton%20development/Portfolio%20website/FullSizeRender_2_xfi72c.png"
      alt="Description"
   
      class="rounded-full w-16 h-16 object-cover"
    />
    <h1 class="font-inter font-medium text-sm tracking-tighter mb-4 mt-4">
      Hi 👋, I'm Juwon Daniel
    </h1>
    <Title client:load />
    <p class="text-base mt-2  text-[#6b7280]">
      I’m the product engineer who can bridge the gap between design and
      engineering to give your product that extra attention to detail to stand
      out from competitors, with beautiful components, dashboards, interactions
      and websites.
    </p>
    <div class="flex items-center gap-2 text-sm mt-4">
      <Popover client:load />
    </div>
  </section>
</ThemeWrapper>
